<div class="container-fluid payment-form-area">
	
	<div class="content-full">
		
		<h3>Payment</h3>

		<div class="clear20"></div>		

		<div class="row">
			
			<div class="col-md-7">

				<div class="row">

					<div class="col-md-4">
						<button ng-click="checkout()" class="btn btn-default btn-block btn-orange">CONTINUE</button>
					</div>

					<div class="col-md-8">
						<a ui-sref="explore" class="back-link"><i class="fa fa-arrow-left fa-lg"></i> GO BACK</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>