<div class="container text-center">
  <div class="form-container">
    <div>
      <h4 class="title text-left" id="smallModalHead">Reset Password</h4>
    </div>
    <div>
      <!-- {{errorMessage}} -->
    </div>
    <form name="passwordForm" ng-submit="changePassword();" rc-validate novalidate>
      <div class="form-group">
        <input type="password" ng-model="password" id="password" name="password" placeholder="New Password" class="form-control" required>
      </div>
      <div class="form-group">
        <input type="password" ng-model="confirm_password" id="confirm_password" name="confirm_password" compare-to="password" placeholder="Confirm New Password" class="form-control" required>
      </div>
      <div class="clear10"></div>
      <button type="submit" class="btn btn-primary btn-block btn-lg btn-modal-white">Reset
      </button>
      <div class="clear20"></div>
      <div class="bottom-line-2">
       Not a vKation's member? <a ng-click="signup()" style="cursor:pointer">Signup</a> /
       Already a vKation's member? <a ng-click="authenticate();" style="cursor:pointer;" >Login</a>
     </div>
     <div class="clear10"></div>
   </form>
 </div>
</div>