<div class="map-over map-over-small" style="display: block; right:20px; top:20px;">
    <div class="clear10"></div>
    <div class="left-right-10">
        <div class="ab-right-top-20">
            <a ng-click="closeHotelPopup()" style="cursor:pointer" class="close-icon">
                <i class="fa fa-times fa-fw"></i>
            </a>
        </div>
        <a href="#">
            <img src="/assets/krr_303.png" class="img-responsive center-block">
        </a>
    </div>
    <div class="facility-detail">
        <div class="row">
            <div class="col-md-9">
                <h4 class="fn-sm-left">{{hotel.name}}</h4>
            </div>
            <div class="col-md-3">
                <div><strong class="xlTxt">&#x20b9;{{hotel.total}}</strong></div>
            </div>
        </div>

    </div>
</div>